
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFont.cshtml";
}
@model List<Blog.Models.UIData>


<div class="picbox">
    <ul class="picurl">
        @{
            foreach (var item in this.Model)
            {
                <li data-scroll-reveal="enter bottom over 1s">
                    <a href="/Home/Detail/@item.Id">
                        <i><img src="~/@item.PicUrl"></i>
                        <div class="picinfo">
                            <h3>@item.Title</h3>
                            <span>@item.Data.ToString()</span>
                        </div>
                    </a>
                </li>

            }
        }
       
    </ul>
</div>
<div class="pagelist"><a class="allpage"><b>99</b></a>&nbsp;&nbsp;<a href="#" class="curPage">1</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">2</a>&nbsp;&nbsp;<a href="#" onclick="page(3)">3</a>&nbsp;&nbsp;<a href="#" onclick="page(4)">4</a>&nbsp;&nbsp;<a href="#" onclick="page(5)">5</a>&nbsp;&nbsp;<a href="#" onclick="page(6)">6</a>&nbsp;&nbsp;<a href="#" onclick="page(7)">7</a>&nbsp;&nbsp;<a href="#" onclick="page(8)">8</a>&nbsp;&nbsp;<a href="#" onclick="page(9)">9</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">下一页</a></div>

<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>